---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Bienvenue chez
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Arotzenia</span>	
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl  mb-8 ">
						I'm baby echo park yr ut pug craft beer. Put a bird on it flexitarian sint squid. Cornhole ut everyday carry jean shorts, vibecession leggings banjo. 
						Chia subway tile disrupt id lumbersexual ex, offal nostrud VHS kinfolk heirloom lo-fi letterpress mixtape. 
						Sunt bruh echo park fit typewriter helvetica vibecession duis photo booth dolor vape lumbersexual. 
						Quis portland small batch incididunt paleo succulents magna same sed labore knausgaard nostrud blog pork belly iceland.
					
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn btn-primary hover:btn-secondary"
								href="https://github.com/onwidget/astrowind"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get template
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								href="#features">Learn more</a
							>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
