<section class="bg-gray-300 dark:bg-gray-800">
<div class="max-w-6xl mx-auto px-4 sm:px-6">
<div class="hero  py-12 md:py-20 ">
  <div class="hero-content flex-col gap-12 lg:flex-row-reverse ">
    <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Box Office News!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-secondary">Get Started</button>
    </div>
  </div>
</div>
</div>

</section>